@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .primary-btn {
      @apply bg-blue-500 hover:bg-blue-400 text-white rounded px-4 py-2 duration-200 ease-in-out
  }
  .navlink {
      @apply px-4 py-2 font-medium hover:bg-gray-100 rounded duration-200 ease-in-out
  }
  input[type='text'],input[type='email']{
    @apply w-full rounded-md border ring-gray-300 ring-2 bg-white py-3 px-6 text-base font-medium  outline-none focus:ring-blue-500 focus:shadow-md
  }
}


select{
    -webkit-appearance: listbox !important
} 

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style 

 #preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left), .e-input-group.e-success:not(.e-float-icon-left), .e-input-group.e-warning:not(.e-float-icon-left), .e-input-group.e-error:not(.e-float-icon-left), .e-input-group.e-control-wrapper:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left){
  border: none;
} */  